<div class="modal fade" id="modelTypeHelp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <font class="modal-title" id="exampleModalLongTitle">Model Type</font>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The model type will impact the sizing of your 3D Model and whether it includes a hole for hardware.  For example, an earring will have a backing of only 1mm thick and will include a hole at the top to be added to earring hardware.
                <p>
                    <h2>Earrings</h2>
                    <br /><img src="@Url.Content("~/Content/Images/Earrings.jpg")" alt="Earrings" />
                    <table border="0" cellpadding="3">
                        <tr valign="top"><th>Final Width</th><td>19.5mm</td></tr>
                        <tr valign="top"><th>Thickness of Backing</th><td>1.0mm</td></tr>
                        <tr valign="top"><th>Size of Each Letter Square</th><td>3.0mm</td></tr>
                        <tr valign="top"><th>Gap Between Each Letter Square</th><td>0.75mm</td></tr>
                        <tr valign="top">
                            <th>Post Processing Comments</th>
                            <td>Includes a 2mm diameter hole to be attached to earring hardware.  I used Fish Hook Earrings from the craft store like <a href="https://www.michaels.com/bead-landing-small-gold-earring-fish-hook/10443128.html" target="_blank">these</a>.</td>
                        </tr>
                    </table>

                    <h2>Pendant</h2>
                    <br /><img src="@Url.Content("~/Content/Images/Pendant.jpg")" alt="Pendant" />
                    <table border="0" cellpadding="3">
                        <tr valign="top"><th>Final Width</th><td>19.5mm</td></tr>
                        <tr valign="top"><th>Thickness of Backing</th><td>2.0mm</td></tr>
                        <tr valign="top"><th>Size of Each Letter Square</th><td>3.0mm</td></tr>
                        <tr valign="top"><th>Gap Between Each Letter Square</th><td>0.75mm</td></tr>
                        <tr valign="top">
                            <th>Post Processing Comments</th>
                            <td>Includes a 2mm diameter hole to be attached to hardware.  I used 6mm Split Rings from the craft store like <a href="https://www.michaels.com/jump-rings-by-bead-landing-6mm/M10266141.html" target="_blank">these</a>.</td>
                        </tr>
                    </table>

                    <h2>Magnet</h2>
                    <br /><img src="@Url.Content("~/Content/Images/Magnet.jpg")" alt="Pendant" />
                    <table border="0" cellpadding="3">
                        <tr valign="top"><th>Final Width</th><td>41mm</td></tr>
                        <tr valign="top"><th>Thickness of Backing</th><td>2.0mm</td></tr>
                        <tr valign="top"><th>Size of Each Letter Square</th><td>7.0mm</td></tr>
                        <tr valign="top"><th>Gap Between Each Letter Square</th><td>1mm</td></tr>
                        <tr valign="top">
                            <th>Post Processing Comments</th>
                             <td>This larger piece does not include a hole.  I glued a magnet to the back.</td>
                        </tr>
                    </table>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>