<div class="modal fade" id="wordleResultHelp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <font class="modal-title" id="exampleModalLongTitle">Wordle Result</font>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                After completing your Wordle puzzle, hit the <strong>Share</strong> button just as you would to share to Social Media.  Paste those results into the <strong>Wordle Result</strong> field.
                <img src="@Url.Content("~/Content/Images/WordleShare.png")" alt="Share Button in Wordle" /><br />

                Normal Theme, Dark Theme, and Colorblind Mode should all be supported.  Any troubles are documented in log files for review and improvement.
                <img src="@Url.Content("~/Content/Images/SupportedResults.png")" alt="Supported Results" /><br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

