@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
   I wrote this for fun and you can safely consider it a Beta Application.  :) 
</p>
<p>    
    If any errors happen, I also have them logging to server so I can check your input, figure out the issue and make improvements.  I hope it is helpful.  Happy printing!
</p>
